*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: #e5e5e5;
}

.container {
  width: 375px;
  background-color: #f4f4f4;
  margin: 0 auto;
  margin-top: 100px;

}

header {
  background-color: #1b83e2 ;
  height: 66px;
}

h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 18px;
  color: #F4F4F4;
  text-align: center;
  padding-top: 25px;

}