*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;

}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  padding: 20px;
  background-color: #e5e5e5;
}

.container {
  width: 375px;
  background-color: #f4f4f4;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b83e2 ;
  height: 66px;
}

h1 {
  font-size: 24px;
  color: #F4F4F4;
}

main {
  padding: 24px;
}

label {
  font-size: 14px;
  color: #777777;
}

select {
  display: block;
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  cursor: pointer;
  outline: none;
  appearance: none;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-top: 6px;
  margin-bottom: 24px;
}

input {
  display: block;
  background: #FFFFFF;
  border: 1px solid #BBBBBB;
  border-radius: 4px;
  height: 48px;
  width: 100%;
  outline: none;
  padding-left: 16px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  font-size: 18px;
}

input[type=number]::-webkit-inner-spin-button { 
  -webkit-appearance: none;
}

button {
  background: #1b83e2;
  border-radius: 25px;
  height: 48px;
  cursor: pointer;
  color: #f4f4f4;
  font-weight: 700;
  font-size: 16px;
  border: none;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 36px;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.7;
}

section {
  border: 1px solid #1B83E2;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.currency-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.currency-name {
  font-size: 14px;
  color: #777777;
}

.currency-value {
  color: #1B83E2;
  font-weight: 700;
  font-size: 20px;
}

.arrow-img {
  display: block;
  margin: 15px auto;
}

